body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  background-color: #1d1515;
}
.header {
    display: flex;
    top: 0;
    left: 0;
    padding: 1rem 5rem;
    background-color: rgb(10, 61, 128);
    position:fixed;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    backdrop-filter: blur(10px);
    color: white;
    z-index: 100;
    transition: margin-right 0.3s;
    height: 130px;
}
.sidebar {
      height: 100%;
      width: 0;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.3s;
      padding-top: 60px;
      z-index: 1000;
    }
    .sidebar a {
      padding: 10px 20px;
      text-decoration: none;
      color: white;
      display: block;
    }
    .sidebar a:hover {
      background: #575757;
    }
    .openbtn {
      font-size: 20px;
      cursor: pointer;
      background: #111;
      color: white;
      padding: 10px 15px;
      border: none;
      margin-left: 0.5px;

    }
    #main {
      transition: margin-left 0.5s;
      padding: 20px;
      margin-top: 150px;
      width: calc(100% - 250px);
    }
    #title{
        transition: margin-left 0.3s;
        margin: 10px;
    }
    .cards {
      display: grid;
      gap: 10px;
      margin: 10px ;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .card{
      background: linear-gradient(rgb(238, 14, 14), rgb(85, 45, 45), rgb(88, 79, 79));
      padding: 30px ;
      color: white;
      border-radius: 20px;
      box-shadow: #692626;
      border: solid black 2px;
      transition: all 0.3s ease-in;
      
    }
    .card:hover{
      transform: scale(1.05) translateY(-10px);
      background: rgb(157, 132, 86);
      color: white;
    }